*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul {
    list-style: none;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Header section */
header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo_link {
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    padding: 0 1.25rem;
    font-size: 3.125rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0) ;
}

.nav-main_list{
    display: flex;
    justify-content: flex-end;
}

.nav-main_list_item {
    margin-right: 1.25rem;
}

.nav-main_list_item:hover,
.nav-main_list_item:focus {
    color: blue;
}

